doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/socket.io/socket.io.js')
    script(src='http://rawgithub.com/phi1618/tmlib.js/0.1.7/build/tmlib.js')
    script(src='/javascripts/main.js')
  body
    block content